* {
    font-family: 'Raleway';
}

h1 {
    margin: 0 auto;
    font-size: 3em;
}

#title {
    border-bottom: 0.1em solid black;
    width: 5em;
}

#task {
    width: 13em;
}

#addButton {
    width: 3em;
}

.center {
    text-align: center;
}

select {
    display: block;
    margin: 0 auto;
    width: 17em;
}

#clearButton {
    width: 17em;
    height: 2em;
}

ul {
    list-style-type: none;
}

li:hover {
    background: aqua;
}

table {
    margin-left: auto;
    margin-right: auto;
}

td {
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 5px;
    /*padding: 5px 105px 5px 105px;*/
    padding: 0.5em 7em 0.5em 7em;

}

td:hover {
    background: #e0e0e0;
}

tr.done {
    text-decoration: line-through;
    text: grey;
}

