.center {
    text-align: center;
}

select {
    display: block;
    margin: 0 auto;
    width: 250px;
}

.centerBlock {
    display: block;
    margin: 0 auto;
}

#clearButton {
    width: 250px;
}

ul {
    list-style-type: none;
}

li:hover {
    background: aqua;
}

table {
    margin-left: auto;
    margin-right: auto;
}

td {
    box-sizing: border-box;
    padding: 12px 100px 12px 100px;
}

tr:hover {
    background: bisque;
}

tr.done {
    text-decoration: line-through green;
    color: brown;
}

* {
    font-family: 'Open Sans', sans-serif;
}